
/* body { 
	align-items: center;
    background-image: url("{{url_for ('static' , filename='backk.gif')}}");
    background-repeat: no-repeat;
    background-size: 1600px 900px;
} */

.page-header{
color: #30303d;
text-transform: uppercase;
letter-spacing: 0.1em;
word-spacing: 0.3em;
padding:1px;
margin: auto;
text-align: center;
-webkit-text-stroke: 2px black;

}
container-1{
width: 40%;
margin: 10px;
border: 1px;
}
.input-form label{
display: block;
margin-left:10px;
letter-spacing: 1px;
font-size: 20px;
font: bold;		
}

.input-form .form-group{
padding-bottom: 20px;
}


.input-form input{
padding: 5px;
margin-left:10px;
width: 30%;
}
table{		
width: 60%;
margin:auto;
margin-bottom: 50px;
text-align: center;
table-layout: fixed;
background-color: rgb(255, 255, 255);
}

table, tr, th, td{
padding: 10px;
color:  rgb(0, 0, 0);
border: 3px solid  #5c48ce ;
border-collapse: collapse;
font-size: 20px;
font-family: Arial;
}
form{
text-align: center;
margin-top: 50px;
}
.button{
align-items: center;
border-radius: 15px;
background-color: #d8ce43; 
color: black; 
border: 2px solid  #5c48ce;
padding: 3px 6px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 15px;
margin: 1px 1px;
transition-duration: 0.3s;
cursor: pointer;
width: 150px;
height: 50px;
}
.button:hover{
background-color: #f3fc9d;
color: rgb(0, 0, 0);
}
h2{
font: bold;
text-align: center;
font-size: 50px;
color: #5c48ce;
-webkit-text-stroke: 2px black;
margin-top: 50px;
}
p{
	text-align: center;
	font-size: 25px;
	font: bold;
	background-color: white;
}